html, body, div, span,
h1, h2, h3, p, img, ol, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* Tags reset
*******************************************************************************/
html {
  overflow-y: scroll;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover, a:active {
  outline: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

a:link {
  -webkit-tap-highlight-color: #478FB2; }

::-moz-selection {
  background: #478FB2;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #478FB2;
  color: #fff;
  text-shadow: none; }

@font-face {
  font-family: 'TT Norms';
  src: url("../font/ttnorms-bold-webfont.woff2") format("woff2"), url("../font/ttnorms-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'TT Norms';
  src: url("../font/ttnorms-regular-webfont.woff2") format("woff2"), url("../font/ttnorms-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 1215px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 14px; } }

body {
  font-family: "TT Norms", sans-serif;
  height: 100%;
  position: relative;
  background: #fff; }

.inner {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
  min-width: 300px;
  box-sizing: border-box; }
  @media screen and (max-width: 575px) {
    .inner {
      padding: 0 10px; } }

main {
  padding: 0 0 60px 0; }
  @media screen and (max-width: 767px) {
    main {
      padding: 0 0 40px 0; } }

.flex {
  display: flex;
  flex-wrap: wrap; }

.flex-sb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.upp {
  text-transform: uppercase; }

.header {
  padding: 40px 0;
  background: #fff; }
  @media screen and (max-width: 767px) {
    .header {
      padding: 20px 0; } }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .container .contact {
      display: flex;
      align-items: center; }
    .header .container p {
      color: #181818;
      font-size: 1.375rem;
      letter-spacing: 0.5px; }
      @media screen and (max-width: 767px) {
        .header .container p {
          font-size: 1rem;
          letter-spacing: 0.31px; } }
    .header .container .about {
      color: #007aff;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: 2.4px; }
      @media screen and (max-width: 767px) {
        .header .container .about {
          font-size: 1rem;
          letter-spacing: 1.7px; } }
    .header .container .email {
      display: inline-block;
      text-indent: -9999px;
      width: 32px;
      height: 24px;
      margin: 0 0 0 56px;
      background: url("../images/icon-mail.png") no-repeat center;
      background-size: contain; }
      @media screen and (max-width: 575px) {
        .header .container .email {
          margin: 0 0 0 20px;
          width: 24px;
          height: 19px; } }

.btn-more {
  display: inline-block;
  color: #007aff;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2.4px;
  position: relative;
  /*&:before{
      content: '';
      position: absolute;
      display: inline-block;
      width: 290px;
      height: 1px;
      background: $bg-alt;
      opacity: 0.5;
      top: -14px;
  }*/ }
  @media screen and (max-width: 767px) {
    .btn-more {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1.7px; } }

.home h1 {
  color: #181818;
  font-size: 2.25rem;
  line-height: 3rem;
  max-width: 780px;
  letter-spacing: -0.5px;
  margin: 0 0 20px 0; }
  @media screen and (max-width: 767px) {
    .home h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: -0.3px;
      max-width: 500px; } }
.home .sample {
  margin: 0 0 128px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .home .sample {
      margin: 0 0 80px 0; } }
  @media screen and (max-width: 575px) {
    .home .sample {
      flex-direction: column; } }
  .home .sample .title {
    max-width: 305px;
    min-width: 240px; }
    @media screen and (max-width: 575px) {
      .home .sample .title {
        width: 100%; } }
    .home .sample .title p {
      color: #181818;
      font-size: 1.25rem;
      line-height: 2rem;
      margin: 0 0 20px 0; }
      @media screen and (max-width: 1024px) {
        .home .sample .title p {
          margin: 0 0 15px 0; } }
    .home .sample .title h2 {
      color: #181818;
      line-height: 3rem;
      font-size: 2.25rem;
      font-weight: 700;
      letter-spacing: -0.5px;
      margin: 0 0 20px 0; }
      @media screen and (max-width: 1024px) {
        .home .sample .title h2 {
          margin: 0 0 15px 0; } }
      @media screen and (max-width: 767px) {
        .home .sample .title h2 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 2rem;
          letter-spacing: -0.3px; } }
  @media screen and (max-width: 1110px) {
    .home .sample .image {
      max-width: 60%; } }
  @media screen and (max-width: 575px) {
    .home .sample .image {
      max-width: 85%; } }
  .home .sample.wk-01 {
    margin-top: 100px;
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(41, 137, 216, 0) 11%, #f7faff 11%, #f7faff 100%); }
    @media screen and (max-width: 767px) {
      .home .sample.wk-01 {
        margin-top: 70px; } }
  .home .sample.wk-02 {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(41, 137, 216, 0) 11%, #f7faff 11%, #f7faff 100%); }
  .home .sample.wk-03 {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(41, 137, 216, 0) 11%, #f7faff 11%, #f7faff 100%); }
  .home .sample.wk-04 {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(41, 137, 216, 0) 11%, #f7faff 11%, #f7faff 100%); }
  .home .sample.wk-05 {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(41, 137, 216, 0) 11%, #f7faff 11%, #f7faff 100%); }
  .home .sample.wk-06 {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(41, 137, 216, 0) 11%, #f7faff 11%, #f7faff 100%); }
  .home .sample.wk-07 {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(41, 137, 216, 0) 11%, #f7faff 11%, #f7faff 100%); }
.home .text, .home .mail {
  color: #181818;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -0.3px; }
  @media screen and (max-width: 575px) {
    .home .text, .home .mail {
      font-size: 1.4rem; } }
.home .mail {
  color: #007aff; }

.footer {
  padding: 50px 0 25px 0; }
  @media screen and (max-width: 767px) {
    .footer {
      padding: 30px 0 20px 0; } }
  .footer .name, .footer .position {
    color: #181818;
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: 0.5px; }
  .footer .position {
    color: #808080;
    margin: 0 0 17px 0; }
  .footer .social {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 767px) {
      .footer .social {
        display: block; } }
    .footer .social li {
      margin: 0 0 0 56px; }
      .footer .social li:first-child {
        margin: 0; }
      @media screen and (max-width: 767px) {
        .footer .social li {
          margin: 0; } }
    .footer .social a {
      color: #007aff;
      font-size: 1.375rem;
      line-height: 2rem;
      font-weight: 700;
      letter-spacing: 1.7px; }
      @media screen and (max-width: 767px) {
        .footer .social a {
          font-size: 1rem; } }

/*# sourceMappingURL=style.css.map */
