html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* =HTML5 display definitions
*******************************************************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* HTML5 display definitions */
/* Tags reset
*******************************************************************************/
html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:hover, a:active, input, input:active, textarea, textarea:active, label:focus, label:active {
  outline: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

a:link {
  -webkit-tap-highlight-color: #478FB2; }

::-moz-selection {
  background: #478FB2;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #478FB2;
  color: #fff;
  text-shadow: none; }

/* Normalizing form elements
*******************************************************************************/
textarea, button, input, select {
  font-size: 100%;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

textarea {
  overflow: auto;
  min-height: 20px;
  max-height: 300px;
  max-width: 400px;
  min-width: 150px; }

input[type="radio"], input[type="checkbox"] {
  vertical-align: middle; }

input[type="button"], input[type="submit"], button {
  cursor: pointer;
  -webkit-appearance: button; }

button {
  width: auto;
  overflow: visible; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

/* Normalizing Tags
*******************************************************************************/
small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

/* Special Classes
*******************************************************************************/
.dynamic-header {
  text-align: center;
  color: #555;
  margin: 0;
  padding: 10px 0; }

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v12/IVeH6A3MiFyaSEiudUMXE0_0lycXMw8PhobHtu2Qgco.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v12/IVeH6A3MiFyaSEiudUMXE8u2Q0OS-KeTAWjgkS85mDg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fchHJTnCUrjaAm2S9z52xC3Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url(https://fonts.gstatic.com/s/playfairdisplay/v13/2NBgzUtEeyB-Xtpr9bm1CfoVn-aGdXvQRwgLLg-TkDk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url(https://fonts.gstatic.com/s/playfairdisplay/v13/2NBgzUtEeyB-Xtpr9bm1Cdhy5e3cTyNKTHXrP9DO-Rc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url(https://fonts.gstatic.com/s/playfairdisplay/v13/UC3ZEjagJi85gF9qFaBgILCFnVHHm1VfBoEzRr6gqH0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url(https://fonts.gstatic.com/s/playfairdisplay/v13/UC3ZEjagJi85gF9qFaBgIIsv7neNnoQYDmljOSnH1QE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"), url(https://fonts.gstatic.com/s/opensanscondensed/v12/gk5FxslNkTTHtojXrkp-xC8hAQ4ocbp44gFQt8tMfcH3rGVtsTkPsbDajuO5ueQw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"), url(https://fonts.gstatic.com/s/opensanscondensed/v12/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin */
@font-face {
  font-family: 'Geo';
  font-style: italic;
  font-weight: 400;
  src: local("Geo Oblique"), local("Geo-Oblique"), url(https://fonts.gstatic.com/s/geo/v9/hEEdCFP5tR4ssC_OaeRXDw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
html {
  height: 100%; }

body {
  font: 18px/1.5 "Lato", "Helvetica", "Arial", sans-serif;
  height: 100%;
  position: relative; }

.wrapper {
  margin: 0 auto;
  max-width: 100%; }

.inner {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  min-width: 300px;
  box-sizing: border-box; }
  @media (max-width: 959px) {
    .inner {
      width: 94%; } }

.inner-2 {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  min-width: 300px;
  box-sizing: border-box; }

.inner-3 {
  max-width: 710px;
  position: relative;
  min-width: 300px;
  box-sizing: border-box; }

.inner-4 {
  max-width: 710px;
  margin: 0 auto;
  position: relative;
  min-width: 300px;
  box-sizing: border-box; }

img {
  max-width: 100%; }

.section, .main {
  padding: 85px 0; }

@media (max-width: 767px) {
  .section, .main {
    padding: 30px 0; } }

.section.section-bg {
  background: #f9f9f9; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.flex-sb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.mobile {
  display: none !important; }
  @media (max-width: 767px) {
    .mobile {
      display: block !important; } }

@media (max-width: 767px) {
  .desktop {
    display: none !important; } }

.cf:before,
.cf:after,
.two-cols:before,
.two-cols:after,
.three-cols:before,
.three-cols:after,
.four-cols:before,
.four-cols:after,
.five-cols:before,
.five-cols:after,
.six-cols:before,
.six-cols:after,
.seven-cols:before,
.seven-cols:after,
.eight-cols:before,
.eight-cols:after,
.nine-cols:before,
.nine-cols:after,
.ten-cols:before,
.ten-cols:after,
.row:before,
.row:after {
  content: "";
  display: table; }

.cf:after,
.clear,
.two-cols:after,
.three-cols:after,
.four-cols:after,
.five-cols:after,
.six-cols:after,
.seven-cols:after,
.eight-cols:after,
.nine-cols:after,
.ten-cols:after,
.row:after {
  clear: both; }

.cf,
.two-cols,
.three-cols,
.four-cols,
.five-cols,
.six-cols,
.seven-cols,
.eight-cols,
.nine-cols,
.ten-cols,
.row {
  -ms-zoom: 1;
  zoom: 1; }

/*Columns*/
.col {
  float: left; }

.two-cols .main-col {
  width: 60%;
  float: left;
  margin-left: 2%; }

.two-cols .main-col:first-child {
  margin-left: 0; }

.two-cols .left-col {
  width: 36%;
  float: left; }

.two-cols .right-col {
  width: 36%;
  float: right; }

.two-cols .col {
  width: 49%;
  margin-left: 2%; }

.two-cols .col-20 {
  width: 20%;
  margin-left: 2%; }

.two-cols .col-40 {
  width: 40%;
  margin-left: 2%; }

.two-cols .col-60 {
  float: left;
  width: 58%;
  margin-left: 2%; }

.two-cols .col-80 {
  float: left;
  width: 78%;
  margin-left: 2%; }

.three-cols .col {
  width: 31.33333333333333%;
  margin-left: 3%; }

.four-cols .col {
  width: 22.75%;
  margin-left: 3%; }

.five-cols .col {
  width: 18.4%;
  margin-left: 2%; }

.six-cols .col {
  width: 14.66666666666667%;
  margin-left: 2%; }

.seven-cols .col {
  width: 12.57142857142857%;
  margin-left: 2%; }

.eight-cols .col {
  width: 10.75%;
  margin-left: 2%; }

.nine-cols .col {
  width: 9.333333333333333%;
  margin-left: 2%; }

.ten-cols .col {
  width: 8%;
  margin-left: 2%; }

.col:first-child {
  margin-left: 0; }

@media (max-width: 767px) {
  .two-cols .main-col,
  .two-cols .right-col,
  .two-cols .left-col,
  .two-cols .col,
  .three-cols .col,
  .four-cols .col {
    float: none;
    margin: 0 0 15px 0;
    width: auto; }
    .two-cols .main-col:last-child,
    .two-cols .right-col:last-child,
    .two-cols .left-col:last-child,
    .two-cols .col:last-child,
    .three-cols .col:last-child,
    .four-cols .col:last-child {
      margin-bottom: 0; } }
.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 0 0 0;
  background: url("../images/main.jpg") no-repeat center top;
  background-size: cover;
  color: #fff; }
  .header .container {
    align-items: flex-end;
    margin: 0 0 58px 0; }
  .header .nav {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    overflow: hidden; }
    .header .nav li:first-child a {
      padding-right: 40px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAALUlEQVQYV2P8////f0ZGRkYGHAAsD5LDpRAmDjcBXSEyH8UamAS6Bgy3YLMaACrcJAKnc8FbAAAAAElFTkSuQmCC") no-repeat right 20px center; }
    .header .nav a {
      display: block;
      color: #fff;
      padding: 0 13px;
      letter-spacing: -0.3px;
      font: 300 15px/44px 'Montserrat', 'Arial', sans-serif; }
      .header .nav a:hover {
        color: #ff6600;
        background-color: rgba(0, 0, 0, 0.35); }
    .header .nav .sub-menu {
      display: none; }
  .header .btn-wrap {
    margin: 0 0 100px 0; }
    .header .btn-wrap .btn {
      margin: 0 31px 0; }
  .header .cur {
    width: 100%;
    height: 90px;
    background: url("../images/line-curs.png") no-repeat;
    background-position: center; }

.btn, .btn-call {
  padding: 0 25px;
  color: #fff;
  display: inline-block;
  border-radius: 21px;
  border: 1px solid #cc3300;
  background: #ff6600 linear-gradient(to top, #ff6600 0%, #ff3300 100%);
  box-sizing: border-box;
  text-align: center;
  font: 700 18px/42px 'Montserrat', 'Arial', sans-serif;
  letter-spacing: -0.45px; }

.btn:hover {
  color: #aea69e;
  border-color: #aaa199;
  background: rgba(0, 0, 0, 0.2); }

.btn-submit:hover {
  color: #fff; }

.btn-alt {
  color: #767676;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box; }
  .btn-alt:hover {
    color: #fff;
    background: #ff6600 linear-gradient(to top, #ff6600 0%, #ff3300 100%);
    border: 1px solid #cc3300; }

h1 {
  font: 400 40px/1 'Playfair Display', 'Arial', sans-serif;
  color: #fff;
  margin: 0 0 41px 0;
  letter-spacing: -0.85px;
  text-shadow: 0 1px 5px rgba(57, 41, 32, 0.5); }
  h1 span {
    display: block;
    font: 700 127px/115px 'Playfair Display', 'Arial', sans-serif;
    margin: 0 0 30px 0; }

h2 {
  color: #000;
  font: 400 36px 'Playfair Display', 'Arial', sans-serif;
  text-align: center;
  margin: 0 0 56px 0; }

.logo {
  display: block;
  padding: 0 0 0 90px;
  background: url(../images/logo.png) no-repeat left;
  font: 300 36px/1 'Montserrat', 'Arial', sans-serif;
  letter-spacing: -0.66px;
  text-shadow: 0 1px 5px rgba(57, 41, 32, 0.5);
  color: #fff; }
  .logo span {
    display: block;
    font: 700 20px/1 'Playfair Display', 'Arial', sans-serif; }

.phone-wrap p {
  padding: 0 0 0 56px;
  text-shadow: 0 1px 3px rgba(1, 2, 2, 0.4);
  color: #fff;
  font: 400 14px/18px 'Montserrat', 'Arial', sans-serif;
  letter-spacing: -0.35px;
  background: url("../images/ico-clock.png") no-repeat left 30px top -1px; }
.phone-wrap a {
  padding: 0 24px 0 58px;
  margin: 14px 0 0 0;
  background-image: url("../images/ico-phone.png"), linear-gradient(to top, #ff6600 0%, #ff3300 100%);
  background-position: left 5px center;
  background-repeat: no-repeat; }

.main {
  background: #f5f5f5 url("../images/bg-main.jpg") no-repeat center top;
  position: relative; }
  .main:before {
    content: '';
    display: block;
    width: 100%;
    height: 165px;
    position: absolute;
    background: url("../images/ico-satisfaction.png") no-repeat center;
    top: -80px; }
  .main .satisfaction {
    max-width: 961px;
    height: 478px;
    margin: 0 auto 37px;
    background: url("../images/notebook.png") no-repeat center top;
    position: relative; }
  .main .video-wrap {
    width: 642px;
    height: 361px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 40px auto 0; }
    .main .video-wrap .video {
      width: 100%;
      height: 100%; }
  .main .list-why {
    max-width: 740px;
    margin: 0 auto; }
    .main .list-why li {
      width: 50%;
      padding: 0 0 0 63px;
      margin: 0 0 13px 0;
      box-sizing: border-box;
      position: relative;
      line-height: 46px; }
      .main .list-why li:before {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 46px;
        left: 0;
        top: 0;
        background: url("../images/ico-why.png") no-repeat; }
      .main .list-why li.ico-02:before {
        background-position: -50px 0; }
      .main .list-why li.ico-03:before {
        background-position: -100px 0; }
      .main .list-why li.ico-04:before {
        background-position: -150px 0; }
      .main .list-why li.ico-05:before {
        background-position: -200px 0; }

.section {
  background: #fff; }
  .section .list-reviews {
    margin: 0 auto 71px;
    max-width: 940px;
    align-items: flex-end; }
    .section .list-reviews a {
      display: block; }

.solution {
  background: #2682ff url("../images/bg-solution2.jpg") no-repeat center top;
  padding: 0 0 35px 0; }
  .solution .content {
    float: left;
    width: 50%;
    padding: 71px 0 0 0; }
    .solution .content h2 {
      color: #fff;
      text-align: left;
      font: 42px/1 'Playfair Display';
      letter-spacing: -0.63px;
      margin: 0 0 40px 0; }
      .solution .content h2 span {
        font-size: 68px;
        font-weight: 700;
        display: block;
        letter-spacing: -0.79px; }
    .solution .content .list-solution {
      list-style: disc inside;
      margin: 0 0 35px 0; }
      .solution .content .list-solution li {
        color: #fff;
        font: 700 18px/30px 'Montserrat';
        letter-spacing: -0.27px; }
    .solution .content .desc {
      max-width: 369px;
      height: 195px;
      padding: 66px 25px 0 25px;
      box-sizing: border-box;
      background: url("../images/bg-desc.png") no-repeat center;
      background-size: cover;
      text-align: center; }
      .solution .content .desc p {
        color: #fff;
        border-top: 1px solid #fcf58f;
        padding: 7px 0 5px 0;
        font: 300 16px 'Montserrat';
        letter-spacing: -0.3px; }
        .solution .content .desc p.sentence {
          font: 700 21px 'Montserrat'; }
  .solution #brochure-form {
    float: right;
    max-width: 363px;
    margin: 30px 0 0 0;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(1, 2, 2, 0.4);
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #0b4b9b;
    position: relative; }
    .solution #brochure-form:before {
      content: '';
      display: block;
      position: absolute;
      width: 109px;
      height: 98px;
      right: 0;
      top: 0;
      background: url("../images/form-corner.png") no-repeat; }
    .solution #brochure-form h3 {
      color: #fff;
      font: 700 26px/24px 'Montserrat';
      padding: 0 10px 0 85px;
      margin: 0 0 22px 0;
      background: url("../images/ico-book.png") no-repeat left;
      letter-spacing: -0.4px; }
    .solution #brochure-form form#contact input {
      width: 100%;
      height: 43px;
      margin: 0 0 8px 0;
      padding: 0 0 0 15px;
      box-sizing: border-box;
      box-shadow: 0 0 2px rgba(1, 2, 2, 0.75);
      border: 1px solid #2c2c2c;
      border-radius: 5px;
      background: #fff;
      color: #000;
      font: 300 16px 'Montserrat';
      letter-spacing: -0.48px; }
    .solution #brochure-form .submit {
      text-align: center;
      margin: 12px 0 0 0; }
      .solution #brochure-form .submit .btn-submit {
        display: block;
        margin: 0 0 15px 0; }
      .solution #brochure-form .submit .policy {
        color: #ff6600;
        font: 300 14px/1 'Montserrat';
        text-decoration: underline;
        letter-spacing: -0.42px; }

.section .list-stairlifts {
  margin: 0 auto 5px; }
  .section .list-stairlifts li {
    width: calc(25% - 4px); }
    .section .list-stairlifts li a {
      display: block;
      border: 1px solid #b3b3b4;
      border-radius: 4px;
      position: relative; }
      .section .list-stairlifts li a h3 {
        font: 700 20px 'Montserrat';
        color: #fff;
        padding: 27px 15px;
        text-align: center;
        background: #2682ff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      .section .list-stairlifts li a .img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 226px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
        .section .list-stairlifts li a .img:before {
          content: '';
          display: block;
          position: absolute;
          width: 84px;
          height: 84px;
          bottom: 71px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: url("../images/ico-stairlifts.png") no-repeat;
          visibility: hidden; }
      .section .list-stairlifts li a .ico-01 {
        background-image: url(../images/straight.jpg); }
      .section .list-stairlifts li a .ico-02 {
        background-image: url(../images/curved.jpg); }
      .section .list-stairlifts li a .ico-03 {
        background-image: url(../images/outdoor.jpg); }
      .section .list-stairlifts li a .ico-04 {
        background-image: url(../images/portable.jpg); }
      .section .list-stairlifts li a:hover .img {
        background-color: #2682ff;
        background-blend-mode: multiply; }
        .section .list-stairlifts li a:hover .img:before {
          visibility: visible;
          background-position: 0 0; }
        .section .list-stairlifts li a:hover .img.ico-02:hover:before {
          background-position: -100px 0; }
        .section .list-stairlifts li a:hover .img.ico-03:hover:before {
          background-position: -200px 0; }
        .section .list-stairlifts li a:hover .img.ico-04:hover:before {
          background-position: -300px 0; }
      .section .list-stairlifts li a:hover h3 {
        background: #ff6600; }
.section .list-financing {
  margin: 0 0 94px 0; }
  .section .list-financing li {
    flex-basis: calc(100% / 2 - 4px);
    background: #fff;
    border: 1px solid #b3b3b4;
    border-radius: 5px;
    display: flex;
    align-items: center; }
    .section .list-financing li a {
      display: block;
      padding: 32px 50px 32px 135px;
      color: #2682ff;
      font: 700 20px/1 'Montserrat';
      position: relative;
      flex-grow: 1; }
      .section .list-financing li a.ico-01 {
        background: url("../images/ico-rent.png") no-repeat left 35px center; }
      .section .list-financing li a.ico-02 {
        background: url("../images/ico-financing.png") no-repeat left 35px center; }
      .section .list-financing li a:after {
        content: '';
        display: inline-block;
        width: 18px;
        height: 100%;
        position: absolute;
        right: 30px;
        top: 0;
        background: url("../images/arrow.png") no-repeat center; }
      .section .list-financing li a span {
        display: block;
        margin: 10px 0 0 0;
        color: #000;
        font: 300 18px/1 'Montserrat';
        letter-spacing: -0.54px; }
.section .certificate {
  text-align: center;
  border-bottom: 3px solid #f0952a;
  margin: 0 0 18px 0; }
  .section .certificate h2 {
    margin: 0 0 29px 0; }
  .section .certificate img {
    margin: 0 0 9px 0; }
.section .text-list li {
  max-width: 48%;
  color: #000;
  font: 300 18px/1 'Montserrat';
  letter-spacing: -0.54px; }
.section .text-list span {
  font-weight: 700;
  color: #ff6600; }
.section .advantage {
  background: url("../images/ico-advantage.png") no-repeat top center;
  text-align: center;
  padding: 62px 0 0 0;
  height: 183px;
  box-sizing: border-box; }
  .section .advantage p {
    color: #fff;
    font: italic 18px/1 'Georgia'; }
.section h2.process {
  margin: 0 0 37px 0; }
.section p.process {
  margin: 0 auto 57px;
  text-align: center;
  color: #2682ff;
  font: 700 18px 'Montserrat';
  max-width: 370px; }
.section ol.process-list {
  counter-reset: myCounter; }
  .section ol.process-list li {
    flex-basis: 25%;
    position: relative;
    text-align: center;
    padding: 0 5px;
    margin: 20px 0 0 0;
    box-sizing: border-box; }
    .section ol.process-list li:after {
      content: counter(myCounter);
      counter-increment: myCounter;
      position: absolute;
      top: -18px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 33px;
      height: 33px;
      line-height: 33px;
      color: #2682ff;
      border: 4px solid #2682ff;
      background: #fff;
      text-align: center;
      border-radius: 50%;
      z-index: 1; }
    .section ol.process-list li:before {
      content: '';
      display: block;
      margin: 0 auto 37px;
      border: 1px solid #ededed;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      background: #fff url("../images/ico-process.png") no-repeat;
      background-position: 0 center; }
    .section ol.process-list li.ico-02:before {
      background-position: -180px center; }
    .section ol.process-list li.ico-03:before {
      background-position: -360px center; }
    .section ol.process-list li.ico-04:before {
      background-position: -540px center; }
    .section ol.process-list li h3 {
      font: 700 30px/1 'Playfair Display';
      margin: 0 0 20px 0; }
    .section ol.process-list li p {
      font: 400 15px 'Open Sans';
      letter-spacing: -0.48px;
      padding: 0 5px 0; }

.section.logic {
  background: url("../images/bg-logic.jpg") no-repeat center top;
  background-size: cover;
  padding-bottom: 40px; }
  .section.logic h2 {
    margin: 0 0 70px 0; }
  .section.logic span {
    display: block;
    font: 700 italic 18px/1 'Arial';
    color: #fff;
    padding: 14px 0;
    margin: 0 0 14px 0;
    text-transform: uppercase;
    max-width: 330px;
    background: #2682ff;
    text-align: center; }
  .section.logic .col-content .left {
    max-width: 330px;
    float: left; }
  .section.logic .col-content .right {
    max-width: 330px;
    float: right; }
  .section.logic .col-content p {
    margin: 0 0 20px 0;
    color: #000;
    font: 15px 'Montserrat';
    letter-spacing: -0.45px;
    text-align: justify; }
  .section.logic .question p {
    text-align: center;
    color: #fff;
    font: 700 20px 'Montserrat';
    letter-spacing: -0.3px;
    background: #2682ff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 8px 0; }
  .section.logic .question ul {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 10px rgba(1, 2, 2, 0.3);
    background: #fff;
    margin: 0 0 34px 0;
    padding: 20px 20px 20px 30px; }
    .section.logic .question ul li {
      padding: 0 0 0 36px;
      color: #000;
      font: 15px/24px 'Montserrat';
      letter-spacing: -0.45px;
      background: url("../images/check.png") no-repeat center left; }
  .section.logic .text {
    font: 700 15px 'Montserrat';
    letter-spacing: -0.23px;
    max-width: 90%;
    margin: 0 auto 75px;
    text-align: center; }
  .section.logic .text-info {
    color: #fff;
    font: 300 16px 'Montserrat';
    padding: 30px 19px 19px;
    margin: 40px 0 0 0;
    background: #2682ff;
    text-align: center;
    position: relative; }
    .section.logic .text-info:before {
      content: '';
      display: block;
      width: 72px;
      height: 55px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -36px;
      background: url("../images/ico-info.png") no-repeat; }

.section.started {
  background: url("../images/bg-started.png") no-repeat center top;
  text-align: center; }
  .section.started h2 {
    font: 700 60px 'Playfair Display';
    letter-spacing: -0.7px;
    margin: 0 0 30px 0; }
  .section.started p {
    font: 400 30px 'Playfair Display';
    text-align: center;
    margin: 0 0 50px 0; }

.awards {
  margin: 0 auto;
  height: 200px;
  background: #348637 url("../images/awards.png") no-repeat center center; }

.footer {
  background: #000;
  padding: 15px 0 35px 0; }
  .footer .container {
    align-items: flex-end;
    margin: 0 0 60px 0; }
  .footer .social li {
    display: inline-block; }
    .footer .social li a {
      display: block;
      width: 50px;
      height: 50px;
      margin-right: 8px;
      text-indent: -9999px;
      background: url("../images/ico-social.png") no-repeat; }
      .footer .social li a.tw {
        background-position: -50px 0; }
      .footer .social li a.yt {
        background-position: -100px 0; }
      .footer .social li a:hover {
        opacity: 0.6; }
  .footer .copy {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 11px;
    text-transform: uppercase;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
